.start-coding-button
  background-color: black
  width: 155px
  height: 45px
  font-size: 15px
  border-image: linear-gradient(45deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%) 1/3px
  border-style: solid
  border-radius: 3px
  &:hover
    opacity: 0.5
    cursor: pointer
  
.start-coding
  text-align: center

.header-buttons
  padding: 8px
  .button
    margin-right: 8px
    min-width: 100px
    display: inline-block
    border-radius: 4px
    padding: 8px 16px
    text-align: center
  
.button-primary
  background: $green
  color: black

.button-secondary
  background: $dark-gray