.cursor 
    animation: blink 1s infinite

@keyframes blink 
  0% { opacity: 0;}
  50% { opacity: 0;}
  51% { opacity: 1;}
  100% { opacity: 1;}

.card
  padding: 2rem
  width: 360px
  border-radius: 6px
  background: $background
  height: 340px


.card-icon
  background: black
  position: relative
  left: 16px
  top: 32px
  height: 64px
  width: 64px
  border-radius: 6px
  text-align: center
  .fa
    font-size: 48px
    position: relative
    top: 8px

.card-description
  color: $weak

.card-footer
  margin: 16px 0

.hilight-orange
  color: #a88038

.hilight-beige
  color: #e1ca72

.hilight-green
  color: #74b087

.hilight-purple
  color: #9f8198

.hilight-blue
  color: #7a99ad