.sidebar-menu
  margin: 15px

.start-coding-message
  font-size: 12px
  text-align: center
  color: $right-gray
  margin: 2px

.sidebar-menu-list-explore
  color: $yellow
  font-size: 12px

.sidebar-menu-list-grow
  color: $green
  font-size: 12px

.sidebar-menu-list-companies
  color: $blue
  font-size: 12px

.list-other
  a
    color: $right-gray

.mark
  background: $yellow
  color: black
  border-radius: 3px
  font-size: 10px
  padding: 2px 3px
  margin-left: 3px

ul
  list-style: none
  padding-left: 0
  margin-top: 0