.code-card-title-text 
    margin: 0
    margin-left: 8px

.text-accent
    color: $blue

.text-bold
    font-weight: bold

.text-warning
    color: $yellow

.text-primary
    color: $green

.text-weak
    color: $right-gray